<form [formGroup]="form">
  <div class="my-1">
    <label for="username">Username</label>
    <input id="username" name="username" formControlName="username">
  </div>
  <div class="my-1">
    <label for="firstName">First name</label>
    <input id="firstName" name="firstName" formControlName="firstName">
  </div>
  <div class="my-1">
    <label for="lastName">Last name</label>
    <input id="lastName" name="lastName" formControlName="lastName">
  </div>
  <div class="my-1">
    <label for="email">Email</label>
    <input id="email" name="email" formControlName="email">
  </div>
  <div class="my-1">
    <label for="emailVerified">Email verified</label>
    <input type="checkbox" id="emailVerified" name="emailVerified" formControlName="emailVerified">
  </div>
</form>